/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properties */
:root {
    --bgd-white: #FFFFFF;
    --bgd-light-blue: #B4D0E7;
    --col-blue: #2361FF;
    --col-check-but-grey: #D0D0D3;
    --color-border-card: #D0D0D3;
    --font-blck: #000000;
    --font-navbar: #464646;
    --font-white: #FFFFFF;
    --fort-size-large: 80px;
    --font-size-medium: 40px;
    --font-size-med-small: 25px;
    --font-size-small: 15px;
}

/* generics */
body{
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}

.navbar {
    background-color: var(--bgd-white);
    height: 80px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.jumbotron {
    background-color: var(--bgd-light-blue);
}

/* utilities */

.d-flex {
    display: flex;  
}

.debug .border {
    border: 2px dashed black; 
}

p, .card-content li {
    font-weight: 300;
}

section h3 {
    font-size: var(--font-size-medium);
    padding-bottom: 30px;
}


/* navbar */
.navbar-left, .navbar-right{
    align-items: center;
}

.navbar-left *, .navbar-right * {
    padding: 0 8px;
}

ul {
    list-style-type: none;
}

.navbar a {
    color: var(--font-navbar);
}

a {
    text-decoration: none;

}
.button a {
    background-color: var(--col-blue);
    padding: 10px 20px;
    color: var(--font-white);
}

/* jumbotron */
.container-jumbotron {
    max-width: 1200px;
    margin: 0 auto;
}

.container-jumbotron > h1 {
    font-size: var(--fort-size-large);
    font-weight: 720;
    margin-bottom: 50px;
}

.text-jumbotron {
    flex-basis: 30%;
}

.button.free-trial {
    padding: 40px 0;
}

.arrow-down {
    font-size: 50px;
    padding-top: 40px;
}

.image-jumbotron {
    flex-basis: 70%;
    position: relative;
}

.image-jumbotron > img {
    position: absolute;
    bottom: -105px;
    right: -26px;
    width: 100%;
}

/* main */
section {
    padding: 70px 0;
}
.container-section  {
    max-width: 1000px;
    margin: 0 auto;
}

/* first section */
h3.plan-for-you.sml-tittle {
    margin-top: 80px;
}

.invoicing {
    padding: 20px 0;
}
.invoicing.monthly > i {
    color: var(--col-blue);
}

.invoicing.annual > i {
    color: var(--col-check-but-grey);
}

.invoicing.monthly, .invoicing.annuaal {
    padding-right: 70px ;
}

.row-bus-plan {
    margin: 0 -20px;
    margin-bottom: 50px;
}

.column-bus-plan {
    flex-basis: calc( 100% / 3  );
    padding: 0 20px;
}

.card-bus-plan {
    flex-grow: 1;
}

.border-card {
    border: 1px solid var(--color-border-card);
}

.card-header {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-border-card);
}

.space {
    padding: 20px;
}

h4 {
    font-weight: 500;
    font-size: var(--font-size-med-small);
}

.card-content *, .pers-cont-left * {
    padding: 10px 0;
}

.option-buy > p, .card-header >p {
    display: inline-block;
}

.buy-now a, .discover-more a {
    text-decoration: underline;
    color: var(--col-blue);
}

.strong-points::before {
    content: ' ';
    display: inline-block;
    width: 20%;
    border: 1px solid var(--color-border-card);
    margin: 30px 0;
}

h5 {
    font-size: var(--font-size-small);
    font-weight: 600;
}

.strong-points i  { 
    color: var(--col-blue);
}

.cost {
    font-weight: 500;
}

.pers-cont-left {
    width: 70%;
}

.pers-cont-right {
    width: 30%;
}

.sales-office  {
    margin-top: 50px;
    margin-left: 15px;
}

.sales-office > a {
    padding: 10px 35px;
}

/* second section */
section img {
    width: 100%;
    height: auto;
}
.left-image {
    flex-basis: 60%;
}

.right-text {
    padding: 50px 45px;
    flex-basis: 40%;
}

.right-text > p {
    padding: 30px 0;
}

.left-image > img {
    width: 580px;
    background-position: ;
}

.button.find-partner > a {
    background-color: var(--bgd-white);
    color: var(--font-blck);
    border: 1px solid var(--font-blck);
}

.button.find-partner {
    margin-top: 30px;
}

/* third section */
.row-operation {
    margin: 0 -20px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.column-operation {
    flex-basis: calc(100% / 3);
    padding: 10px 19px;
}

.dropbox-bus  p {
    padding: 30px 10px ;
}

.contain-our-customers {
    width: 600px;
}







/* fifth section */
.compatible-solutions > * {
    flex-basis: calc(100% / 3);
    min-height: 650px;
    /* ?todo remove */ 
    background-color: violet;
}

.call-to-action {
    min-height: 350px;
    /* ?todo remove */ 
    background-color: salmon;

}

.left-call-to-act {
    flex-basis: 60%;
    /* ?todo remove */ 
    background-color: red;
    height: 412px;
}

.right-call-to-act {
    flex-basis: 40%;
    /* ?todo remove */ 
    background-color: blue;
    height: 412px;
}

/* footer */

footer {
    background-color: peru;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    min-height: 450px;
}

.row-footer {
    margin: 0 -10px;
    flex-grow: 1;
}

.column-footer {
    flex-basis: calc(100% / 5);
    padding: 0 10px;
}
