/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properties */
:root {
    --bgd-white: #FFFFFF;
    --bgd-light-blue: #B4D0E7;
}

/* generics */
body{
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    height: 80px;
    justify-content: space-between;
}

.jumbotron {
    height: 750px;
    background-color: var(--bgd-light-blue);
}

/* utilities */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;  
}

.debug .border {
    border: 2px dashed black; 
}

/* navbar */
.navbar-left, .navbar-right{
    align-items: center;
}

.navbar-left *, .navbar-right * {
    padding: 0 20px;
}

/* jumbotron */
.container-jumbotron {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
}

.container-jumbotron > h1 {
    font-size: 80px;
    font-weight: 720;
    margin-bottom: 40px;
}

.jumbotron-content {
    /* align-items: flex-start; */
}

.text-jumbotron {
    flex-basis: 30%;
    /* ?todo remove */
    height: 412px;
    background-color: blue;
}

.image-jumbotron {
    flex-basis: 70%;
    /* ?todo remove */
    height: 412px;
    background-color: red;
}
