/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properties */
:root {
    --bgd-white: #FFFFFF;
    --bgd-light-blue: #B4D0E7;
    --bgd-button-blue: #2361FF;
    --font-blck: #000000;
    --font-navbar: #464646;
    --font-white: #FFFFFF;
    
}

/* generics */
body{
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}

.navbar {
    background-color: var(--bgd-white);
    height: 80px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.jumbotron {
    background-color: var(--bgd-light-blue);
}

/* utilities */

.d-flex {
    display: flex;  
}

.debug .border {
    border: 2px dashed black; 
}

p {
    font-weight: 300;
}

section h3 {
    font-size: 40px;
    padding-bottom: 30px;
}


/* navbar */
.navbar-left, .navbar-right{
    align-items: center;
}

.navbar-left *, .navbar-right * {
    padding: 0 8px;
}

ul {
    list-style-type: none;
}

.navbar a {
    color: var(--font-navbar);
}

a {
    text-decoration: none;

}
.button a {
    background-color: var(--bgd-button-blue);
    padding: 10px 20px;
    color: var(--font-white);
}

/* jumbotron */
.container-jumbotron {
    max-width: 1200px;
    margin: 0 auto;
}

.container-jumbotron > h1 {
    font-size: 80px;
    font-weight: 720;
    margin-bottom: 50px;
}

.text-jumbotron {
    flex-basis: 30%;
}

.button.free-trial {
    padding: 40px 0;
}

.arrow-down {
    font-size: 50px;
    padding-top: 40px;
}

.image-jumbotron {
    flex-basis: 70%;
    position: relative;
}

.image-jumbotron > img {
    position: absolute;
    bottom: -105px;
    right: -26px;
    width: 100%;
}

/* main */
section {
    padding: 70px 0;
    /* min-height: 600px; */
}
.container-section  {
    max-width: 1000px;
    margin: 0 auto;
    /* ?todo remove */ 
    background-color: lightblue;
}

/* first section */
h3.plan-for-you.sml-tittle {
    margin-top: 80px;
}

.invoicing {
    padding: 30px 0;
}

.row-bus-plan {
    margin: 0 -20px;
    margin-bottom: 50px;
    /* ?todo remove */ 
    background-color: green;
    
}
.column-bus-plan {
    flex-basis: calc( 100% / 3 );
    padding: 0 20px;
}

.card-bus-plan {
    flex-grow: 1;
    background-color: blue;
}

.customised-bus-plan {
    /* ?todo remove */ 
    background-color: blue;
    height: 250px;
}

/* second section */

.partener-dropbox {
    /* ?todo remove */ 
    height: 500px;
    background-color: purple;
}

.left-image {
    flex-basis: 60%;
    /* ?todo remove */ 
    background-color: red;
    height: 100%;
}

.right-text {
    flex-basis: 40%;
    /* ?todo remove */ 
    background-color: blue;
    height: 100%;
}

/* third section */

.row-operation {
    margin: 0 -10px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.column-operation {
    flex-basis: calc(100% / 3);
    padding: 10px 10px;
    /* ?todo remove */ 
    background-color: violet;
}

.card-operation {
    width: 300px;
    min-height: 350px;
    /* ?todo remove */ 
    background-color: aqua;
}

.contain-our-customers {
    width: 600px;
}

/* fifth section */
.compatible-solutions > * {
    flex-basis: calc(100% / 3);
    min-height: 650px;
    /* ?todo remove */ 
    background-color: violet;
}

.call-to-action {
    min-height: 350px;
    /* ?todo remove */ 
    background-color: salmon;

}

.left-call-to-act {
    flex-basis: 60%;
    /* ?todo remove */ 
    background-color: red;
    height: 412px;
}

.right-call-to-act {
    flex-basis: 40%;
    /* ?todo remove */ 
    background-color: blue;
    height: 412px;
}

/* footer */

footer {
    background-color: peru;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    min-height: 450px;
}

.row-footer {
    margin: 0 -10px;
    flex-grow: 1;
}

.column-footer {
    flex-basis: calc(100% / 5);
    padding: 0 10px;
}
